<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.dataplugin"
      version="0.1.0">
    <name>data</name>
    <description>data Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,data</keywords>


    <js-module src="www/data.js" name="DataPlugin">
        <clobbers target="KLG.plugins.data" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DataPlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.DataPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DataPlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>
